{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-4 mr-4">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top mx-auto d-block card-image">
        </div>
        <div class="col-md-6">
            <h3 class="mb-4">{{ product.name }}</h3>
            
            {% if product.on_special_offer %}
            <small class="btn btn-sm btn-danger special-offer" style="font-size: 15px;">Special Offer</small><br><br>
            <p style="font-size: large; color: red;">
                <del style="color: white;">Was: €{{ product.price }}</del>
                Now: €{{ product.discounted_price }}
            </p>
            {% else %}
            <p style="font-size: large;">
                Price: €{{ product.price }}
            </p>
            {% endif %}
            <button class="btn btn-primary mb-4" type="button" data-toggle="collapse" data-target="#productDescription" aria-expanded="false" aria-controls="productDescription">
                View Product Description 
            </button>
            <div class="collapse mt-3" id="productDescription">
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }}</p>
            </div>
            <br>
            <button class="btn btn-primary mb-4" type="button" data-toggle="collapse" data-target="#shipping" aria-expanded="false" aria-controls="shipping">
                Shipping Details
            </button>
            <div class="collapse mt-3" id="shipping">
                <h3>Shipping Details</h3>
                <p>The {{product.name}} is usualy shippied between 1 to 3 busines days.</p>
            </div>

            <button class="btn btn-primary mb-4" type="button" data-toggle="collapse" data-target="#productAvailability" aria-expanded="false" aria-controls="productAvailability">
                Product Availabiltiy
            </button>
            <div class="collapse mt-3" id="productAvailability">
                <h3>Stock Available</h3>
                <p>{{ product.quantity_available}}</p>
            </div>

            <br>
            {% if product.quantity_available > 0 %}
            
            <div class="card" style="width: 300px;">
                <div class="input-group" style="width: 300px;">
                    <input type="number" class="form-control qty-cart" id="quantity{{ product.id}}" value="1" min="1" max="{{product.quantity_available}}" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-secondary decrease-quantity" data-index="{{ product.id }}" type="button">-</button>
                        <button class="btn btn-secondary increase-quantity" data-index="{{ product.id }}" type="button">+</button>
                        <button class="btn btn-success add-cart-btn" type="button" value="{{ product.id }}" style="width: 100%;">Add to Cart</button>
                    </div>
                </div>
            </div>
            {% else %}
                <p class="text-danger">Out of stock</p>
            {% endif %}
            <br>
            
            <br>
            <br>
            <img src="{% static 'images/slifer.png' %}" alt="Slifer" class="img-fluid">
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.increase-quantity', function (e) {
   e.preventDefault();
   var productid = $(this).data('index');
   var quantityInput = $('#quantity' + productid);
   var maxqty = $('#quantity' + productid).attr('max');

   if (parseInt(quantityInput.val()) < parseInt(maxqty)) {
       quantityInput.val(parseInt(quantityInput.val()) + 1);
   }
});

$(document).on('click', '.decrease-quantity', function (e) {
   e.preventDefault();
   var productid = $(this).data('index');
   var quantityInput = $('#quantity' + productid);
   var currentQuantity = parseInt(quantityInput.val());
   if (currentQuantity > 1) {
       quantityInput.val(currentQuantity - 1);
   }
});
  var cartAddUrl = "{% url 'cart_add' %}";

   $(document).on('click', '.add-cart-btn', function(e) {

       e.preventDefault();
       var product_id = $(this).val();
       var product_qty = $(this).closest('.card').find('.qty-cart').val();
       $.ajax({
           type: 'POST',
           url: cartAddUrl,
           data: {
               product_id: product_id,
               product_qty: product_qty,
               csrfmiddlewaretoken: '{{ csrf_token }}',
               action: 'post'
           },

           success: function(json) {
               console.log(json)
               document.getElementById("cart_quantity").textContent = json.qty

               location.reload(true);
           },

           error: function(xhr, errmsg, err) {
               console.log(errmsg);
           }

       });

   });

</script>


{% endblock %}