{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5">

    <div class="row">
        <div class="col-md-3">
            <form method="get" action="{% url 'product_list' %}" class="mb-4">
                <label for="category"><h3 class="text-center mb-4">Filter by Categories</h3></label>
                <select name="category" id="category" class="form-control">
                    <option value="">Choose Filter</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary mt-3">Apply Filter</button>
            </form>
        </div>

    <div class="col-md-9">
        <h3 class="text-center mb-4"> Product List </h3>
        <div class="row">
            
            {% for product in products %}
                <div class="col-md-6 mb-4 pb-4 col-lg-6 mb-lg-4 pb-lg-4 col-xl-3 mb-xl-4 pb-xl-4">
                    <div class="card custom-card">
                        <a href="{% url 'product_detail' id=product.id slug=product.slug %}" style="text-decoration: none; color:black;">
                            <img src="{{ product.image.url }}" class="card-img-top mx-auto d-block card-image mb-4" alt="{{ product.name }}">
                            <div class="card-body custom-card-body" style="color: black;">
                                <h5 class="card-title price-text" style="font-size: larger;" >{{ product.name }}</h5>
                        </a>
                        </div>
                        <div class="card-footer custom-card-footer">
                            {% if product.quantity_available > 0 %}
                                {% if product.on_special_offer %}
                                    {% if product.discounted_price %}
                                        <p class="card-text price-text" style="color: red; font-weight: bolder;"><small class="btn btn-sm btn-danger special-offer" style="font-size: 10px;">Special Offer</small><br><del style="color: black; font-size: smaller;">Was: €{{ product.price }}</del><br> Now: €{{ product.discounted_price }}</p>
                                    {% endif %}
                                {% else %}
                                    <p class="card-text price-text mt-1" style="color: black; font-weight: bolder;"><br><br>Price: €{{ product.price }}</p>
                                {% endif %}
                                <div class="input-group">
                                    <input type="number" class="form-control qty-cart" value="1" min="1">
                                    <div class="input-group-append">
                                        <button class="btn btn-success add-cart-btn" type="button" value="{{ product.id }}" style="width: 100%;">Add to Cart</button>
                                    </div>
                                </div>
                            {% else %}
                                <p class="text-danger">Out of stock</p>
                                {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
</div>

<script>
   var cartAddUrl = "{% url 'cart_add' %}";

    $(document).on('click', '.add-cart-btn', function(e) {

        e.preventDefault();
        var product_id = $(this).val();
        var product_qty = $(this).closest('.card').find('.qty-cart').val();
        $.ajax({
            type: 'POST',
            url: cartAddUrl,
            data: {
                product_id: product_id,
                product_qty: product_qty,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json) {
                console.log(json)
                document.getElementById("cart_quantity").textContent = json.qty

                location.reload(true);
            },

            error: function(xhr, errmsg, err) {
                console.log(errmsg);
            }

        });

    });

</script>
{% endblock %}