@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto+Mono:wght@100;500&display=swap');
body{
	background-color: #000;
    color: #fff;
    font-family: 'Oswald', sans-serif;

}

/*------ Cart Icon Styling -----*/
#cart-icon{
	width:25px;
	display: inline-block;

}

/*------- Search Bar Styling -----*/
#search-bar {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1199px) {
    #search-bar {
        width: 500px;
    }
}

@media (max-width: 991px) {
    #search-bar {
        width: 668px;
    }
}

@media (max-width: 767px) {
    #search-bar {
        width: 487px;
    }
}

@media (max-width: 560px) {
    #search-bar {
        width: 470px;
    }
}

@media (max-width: 543px) {
    #search-bar {
        width: 400px;
    }
}

@media (max-width: 473px) {
    #search-bar {
        width: 340px;
    }
}

@media (max-width: 413px) {
    #search-bar {
        width: 280px;
    }
}

@media (max-width: 353px) {
    #search-bar {
        width: 250px;
    }
}

@media (max-width: 323px) {
    #search-bar {
        width: 200px;
    }
}

/*------ Product Page Styles --------*/

.custom-card-body {
    height: 130px;
}

.custom-card-footer {
    font-family: 'Roboto Mono', monospace;
    height: 150px;
}

@media (min-width: 1312px) and (max-width: 1434px) {
    .custom-card {
        font-size: 90%;
    }
  }

@media (min-width: 1200px) and (max-width: 1311px) {
    .custom-card {
        font-size: 60%;
    }
  }

#custom-width {
    width: 70px; 
}

/* ----- Landing Page Styles -------*/ 

.carousel-img {
    object-fit: contain;
    height: 300px;
    width: 100%;
}

.cat-card {
    background-color: black;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    border-right: 5px;
    border-left: 5px;
}
.cat-card a {
    text-decoration: none;
    color: white;
}

.rotate-20 {
    transform: rotate(-20deg);
}

.rotate-minus-20 {
    transform: rotate(20deg);
}

/*----- Checkout styles -----------*/

.cart-summary {
    background-color: white;
    border-color: red;
    border-radius: 20px;
    border-width: 2px;
    border-right: 5px;
    border-left: 5px;
}