<footer class="page-footer font-small indigo" style="background-color: rgb(83, 10, 10); border-style: solid; border-color: #fff; border-width: 5px; border-bottom: none; border-radius: 20px;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto" style="color: white">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact us</h5>
  
          <ul class="list-unstyled" >
            <li>
              <p>52 The Fairways,
              <br>Abbeyleix,
              <br>Co Laois,
              <br>Ireland
              <br>R32KF51</p>
            </li>
            <li>
              <a href="#">deckedout@gmail.com</a>
            </li>
            <li>
              <a href="#">05787 309423</a>
            </li>
            <li>
              <a href="#">Social Links</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto" style="color: white">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help & Info</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'cookies_policy' %}">Cookie Policy</a>
            </li>
            <li>
              <a href="{% url 'about_us' %}">About Us</a>
            </li>
            <li>
              <a href="{% url 'returns_policy' %}">Returns Policy</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto" style="color: white">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Site Navigation</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'product_list' %}">Shop</a>
            </li>
            <li>
                <a href="{% url 'product_search' %}">Search for Products</a>
            </li>
            <li>
              <a href="{% url 'news' %}">News</a>
            </li>
            <li>
              <a href="{% url 'contact_us' %}">Contact Us</a>
            </li>
            <li>
              <a href="{% url 'landing' %}">Home</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"style="color: white">© 2023 Copyright:
      <a href="#"> Diarmuid Sheeran</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->