{% load static %}

<div class="navbar-row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
           
            <a class="navbar-brand" href="{% url 'landing' %}">DECKED OUT!</a>

            <a class="nav-link" href="{% url 'cart_summary' %}">
                <img id="cart-icon" src="{% static 'images/cart.png' %}" alt="Cart">
                <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
     
            <form class="form-inline my-2 my-lg-0" action="{% url 'product_search' %}" method="get">
                <input class="form-control mr-sm-2" id="search-bar" type="search" placeholder="What are you looking for?" aria-label="Search" name="search_query">
                <button class="btn btn-outline-warning" type="submit" style="background-color: #fff">
                    <i class="fa-solid fa-magnifying-glass" style="color: #000; background-color: #fff"></i>
                </button>
            </form>
                
                   
              

            

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        {% if user.is_anonymous %}
                            <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
                            <a href="{% url 'register' %}" class="btn btn-danger ml-2">Sign Up</a>
                        {% else %}
                            <a href="{% url 'account' %}" class="btn btn-warning">My Account</a>
                            <a href="{% url 'logout' %}" class="btn btn-danger ml-2">Logout</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>







