{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12 ml-4">
            <h3 class="text-center mb-4"> Cart Summary </h3>
            <div class="row">
                {% if cart_products %}
                
                <div class="container text-center">
                    <h3 class="mt-4 text-center">Subtotal: €{{ totals }}</h3>
                    <a href="{% url 'checkout' %}" class="mb-4 btn btn-primary">Go to Checkout</a>
                </div>
                    <div class="table-responsive table-sm table-borderless">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="color: white;" scope="col"><strong>Product</strong></th>
                                    <th style="color: white;" scope="col"><strong></strong></th>
                                    <th style="color: white;" scope="col"><strong>Price</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product, quantity in cart_products.items %}
                                    <tr>
                                        <td>
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail cart-image" style="width: 50px; height: 50px;">
                                            
                                        </td>
                                        <td>
                                            <p class="product-name" style="color: white;">{{ product.name }}</p>
                                        </td>
                                        <td>
                                            {% if product.on_special_offer and product.discounted_price %}
                                                <strong class="text-center" style="color: white;">€{{ product.discounted_price|floatformat:2 }}</strong>
                                            {% else %}
                                                <strong class="text-center" style="color: white;">€{{ product.price|floatformat:2 }}</strong>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="input-group">
                                                <input type="number" class="form-control qty-cart small-input" id="quantity{{ product.id}}" value="{{ quantity }}" min="1" max="{{product.quantity_available}}" readonly>
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary decrease-quantity" data-index="{{ product.id }}" type="button">-</button>
                                                    <button class="btn btn-secondary increase-quantity" data-index="{{ product.id }}" type="button">+</button>
                                                </div>
                                                <button type="button" data-index="{{ product.id }}" class="btn btn-secondary update-cart">Update</button>
                                                <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product ml-2">Remove</button>
                                            </div>
                                           
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <div class="container text-center">
                            <a href="{% url 'checkout' %}" class="mb-4 btn btn-primary">Go to Checkout</a>
                            <h3 class="mb-4 text-center">Subtotal: €{{ totals }}</h3>
                        </div>
                    </div>
                {% else %}
                    <div class="container text-center">
                        <h4>Your cart is empty</h4>
                        <a href="{% url 'product_list' %}" class="btn btn-primary mt-3">Continue Shopping</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div>


<script>
  $(document).on('click', '.increase-quantity', function (e) {
    e.preventDefault();
    var productid = $(this).data('index');
    var quantityInput = $('#quantity' + productid);
    var maxqty = $('#quantity' + productid).attr('max');

    if (parseInt(quantityInput.val()) < parseInt(maxqty)) {
        quantityInput.val(parseInt(quantityInput.val()) + 1);
    }
});

$(document).on('click', '.decrease-quantity', function (e) {
    e.preventDefault();
    var productid = $(this).data('index');
    var quantityInput = $('#quantity' + productid);
    var currentQuantity = parseInt(quantityInput.val());
    if (currentQuantity > 1) {
        quantityInput.val(currentQuantity - 1);
    }
});
    var cartUpdateUrl = "{% url 'cart_update' %}";
    
    $(document).on('click', '.update-cart', function(e){
        e.preventDefault();
        var productid = $(this).data('index');
        var quantityInput = $('#quantity' + productid);
    
        $.ajax({
        type: 'POST',
        url: cartUpdateUrl,
        data: {
          product_id: $(this).data('index'),
          product_qty: quantityInput.val(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function(json){
            location.reload();
        },
    
        error: function(xhr, errmsg, err){
    
        }
    
    
        });
    
    })

    var cartDelUrl = "{% url 'cart_delete' %}";

$(document).on('click', '.delete-product', function(e){
    e.preventDefault();

    var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: cartDelUrl,
    data: {
      product_id: $(this).data('index'),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function(json){
        location.reload();
    },

    error: function(xhr, errmsg, err){

    }


    });

})

</script>
{% endblock %}